#formFakemon {
    padding: 1rem;
    margin-left: 1vw;
    margin-right: 1vw;
    text-align: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    max-width: auto;
    height: fit-content;
    border-radius: 15px;
}

.stats {
    margin-top: 2vh!important;
    margin-bottom: 2vh!important;
    margin-left: 2vw!important;
    margin-right: 2vw!important;
}


.stats-fin {
    margin-bottom: 2vh!important;
} 

.stats-debut {
    margin-top: 2vh!important;
}

#description{
    text-align: justify!important;
}

.nomFakemon {
    margin: 1rem!important;
}

.type{
    margin-left: 2rem!important;
    margin-right: 2rem!important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.boutonFormFakemon {
    margin-left: 1rem!important;
    margin-right: 1rem!important;
    margin-top: 2vh!important;
}

#avertissement {
    font-size: x-small;
    font-weight: bold;
    color: darkred;
}

@media only screen and (max-height: 760px) {
    .stats {
        margin-top: 0.3vh!important;
        margin-bottom: 0.3vh!important;
        margin-left: 2vw!important;
        margin-right: 2vw!important;
    }
    .type{
        margin-left: 1rem!important;
        margin-right: 1rem!important;
        margin-top: 0.3rem !important;
        margin-bottom: 0.5rem !important;
    }
    .nomFakemon {
        margin: auto!important;
    }
    .stats-fin {
        margin-bottom: auto !important;
        margin-top: auto !important;
    } 
    
    .stats-debut {
        margin-bottom: auto !important;
        margin-top: auto !important;
    }
    .boutonFormFakemon {
        margin-left: 1rem!important;
        margin-right: 1rem!important;
        margin-top: auto !important;
    }
}