.fakemonListItem :hover {
    background-color: azure !important;
    border-radius: 5px !important;
}

.fakemonListItem {
    background-color: rgb(148, 160, 208) !important;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-radius: 5px !important;
    width: 20vw !important;
    margin-left: 7.5vw;
}


.textListFakemon,span{
    font-weight: bold !important;
    text-align: center;
    font-size: large !important;
}

#fakemonList {
    max-Height: 40vh;
    overflow: auto;
    padding: 1rem;
    margin-left: 1vw;
    margin-right: 1vw;
    text-align: center;
    align-items: center;
    background-color: rgba(229, 229, 229, 0.6);
    max-width: auto;
    height: fit-content;
}

.iconListFakemon :hover {
    border-radius: 100px !important;
}