

.fakemonListItem {
    background-color: rgb(148, 160, 208) !important;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-radius: 5px !important;
    align-items: center;
    padding-left: 15vw;

}

#fakemonList {
    max-Height: 20vh;
    overflow: auto;
    padding: 1rem;
    margin-left: 1vw;
    margin-right: 1vw;
    text-align: center;
    align-items: center;
    background-color: rgba(229, 229, 229, 0.6);
    max-width: auto;
    height: fit-content;
}


#titreListe {
    padding-left: 13.5vw;
    text-align: center;
}

.boutonListe {
    margin: 1rem!important;
}